mixin slider(slider)
  .slider
    .slider__container.swiper-container
      .slider__wrapper.swiper-wrapper
        each item in slider.slider
          .slider__slide.swiper-slide
            .slider__text
              .slider__text-title= item.title
              .slider__text-description= item.description
              .slider__text-btn
                +btn-more('', 'Подробнее', 'btn')
            .slider__background
              img(src=item.img, alt=item.alt)
              //img(src=require('../static/background.png'), alt='alt')
    .slider__arrow
      a.slider__arrow-prev(href='')
        svg
          use(xlink:href=require('../assets/svg/Vector2.svg').url)
      a.slider__arrow-next(href='')
        svg
          use(xlink:href=require('../assets/svg/Vector1.svg').url)
