.slider {
  position: relative;
  height: 100%;
  width: 50%;

  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    width: 41%;
  }

  &__container {
    height: 100%;
  }

  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 63px;
    padding-right: 63px;
  }

  &__text-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
  }

  &__text-description {
    padding-top: 8px;
    font-weight: 300;
    font-size: 24px;
    line-height: 22px;
    color: #eee;
  }

  &__text-btn {
    padding-top: 30px;
  }

  &__arrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    justify-content: space-between;
    top: 56%;
  }

  &__arrow-prev {
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
  }

  &__arrow-next {
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
  }

  svg {
    width: 8px;
    height: 18px;
  }
}
