* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 13px;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Helvetica, sans-serif;
}

.page {
  overflow: hidden;
  height: 100%;
  display: flex;
  margin-left: 63px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}
