.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #121212;
  width: 63px;

  @media (max-width: 767px) {
    background-color: #fff;
    height: 5%;
  }

  &--open {
    position: absolute;
    height: 100%;
    background-color: rgba(21, 27, 31, 0.81);
    width: 100%;
    z-index: 5;
    will-change: transform;
    transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1), visibility 0s 1s;
    transform: translateX(0);

    @media (max-width: 767px) {
      background-color: #111518;
      height: 100%;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      background-color: #111518;
      height: 100%;
      width: 100%;
    }

    @media (max-width: 1439px) {
      transition: none;
    }
  }

  &__left {
    &--open {
      background-color: #111518;
    }
  }

  &__burger {
    position: absolute;
    top: 3%;
    left: 20%;
    display: flex;
    flex-direction: column;

    span {
      transition: all 0.3s;
      width: 24px;
      height: 1px;
      border: 1px solid #fff;
      background-color: #fff;
      margin: 3px;
    }

    @media (max-width: 767px) {
      position: absolute;
      top: 12px;
      left: 12px;

      span {
        border: 2px solid #121212;
        background-color: #121212;
        width: 24px;
        height: 0;
      }
    }

    &--open {
      position: absolute;
      top: 28px;
      left: 17px;
      transition: all 0.5s ease-in-out 0.23s;

      span {
        display: block;
        width: 24px;
        height: 1px;
        border: 1px solid #fff;
        background-color: #fff;
        margin: 3px;

        &:nth-of-type(1) {
          opacity: 0;
        }

        &:nth-of-type(2) {
          transform: translateY(4.2px) rotate(45deg);
        }

        &:nth-of-type(3) {
          transform: translateY(-4.2px) rotate(-45deg);
        }
      }

      @media (max-width: 767px) {
        span {
          border: 2px solid #fff;
          background-color: #fff;
          width: 24px;
          height: 0;
        }
      }
    }
  }

  &__lang {
    position: absolute;
    top: 90%;
    left: 17px;
    color: #0ec261;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__content {
    display: none;

    &--open {
      display: flex;
      flex-direction: column;
      padding-left: 97px;
      justify-content: center;
      width: 47%;
      height: 100%;
      background-color: #111518;

      @media (max-width: 767px) {
        padding-left: 30px;
        width: 100%;
        z-index: 5;
      }

      @media (min-width: 769px) and (max-width: 1439px) {
        width: 55%;
      }
    }
  }

  &__list-link {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
  }

  &__list-elem {
    list-style-type: none;
  }

  &__list-link:hover {
    color: #0ec261;
  }

  &__list-wrap {
    width: 50%;
  }

  &__social {
    padding-top: 20px;
  }

  &__social-icon {
    svg {
      height: 32px;
      width: 32px;
      margin-right: 16px;
    }
  }
}
