mixin menu(menu)
  .menu
    .menu__left
      a.menu__burger(href='javascript:void(0);')
        span
        span
        span
      .menu__lang= menu.lang
    .menu__content
      ul.menu__list-wrap
        each item in menu.list
          li.menu__list-elem
            a.menu__list-link(href='/')= item.value
      .menu__social
        a.menu__social-icon(href='/')
          svg
            use(xlink:href=require('../assets/svg/Telegram_white.svg').url)
        a.menu__social-icon(href='/')
          svg
            use(xlink:href=require('../assets/svg/Facebook_white.svg').url)
        a.menu__social-icon(href='/')
          svg
            use(xlink:href=require('../assets/svg/Facebook_white.svg').url)
