extends ../layouts/main.pug

block content
  .page
    +menu({
      lang: 'Eng',
      list: [
        {
          value: 'страховка',
        }, {
          value: 'парковка',
        }, {
          value: 'бензин',
        }, {
          value: 'обслуживание',
        }]
    })
    +main({
      city: 'Ульяновск',
      full: 'Каршеринг',
      parag: 'Need for drive',
      about: 'Поминутная аренда автомобилей',
      copyright: '© 2016-2019 «Need for drive»',
      tel: '8 (495) 234-22-44',
    })
    +slider({
      slider: [
        {
          title: 'Бесплатная парковка',
          description: 'Оставляйте машину на платных городских парковках и разрешенных местах, не нарушая ПДД, а также в аэропортах',
          img: require('../assets/background.png'),
          alt: 'alt',
        }, {
          title: 'Страховка',
          description: 'Полная страховка страховка автомобиля ',
          img: require('../assets/slide2.png'),
          alt: 'alt',
        }, {
          title: 'Бензин',
          description: 'Полный бак на любой заправке города за наш счёт',
          img: require('../assets/slide3.png'),
          alt: 'alt',
        }, {
          title: 'Обслуживание',
          description: 'Автомобиль проходит еженедельное ТО ',
          img: require('../assets/slide4.png'),
          alt: 'alt',
        }]
    })
