mixin btn(tag, text, className, href)
  if (tag === 'div')
    .btn(class=className)
      span.btn__text= text
  else 
    if (tag === 'button')
      button.btn(class=className)
        span.btn__text= text
    else
      a.btn(href=tag, class=className)
        span.btn__text= text
