.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 48px;
  text-decoration: none;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;

  &:hover {
    background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
  }

  &:active {
    background: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
