mixin btn-more(tag, text, className, href)
  if (tag === 'div')
    .btn-more(class=className)
      span.btn-more__text= text
  else 
    if (tag === 'button')
      button.btn-more(class=className)
        span.btn-more__text= text
    else
      a.btn-more(href=tag, class=className)
        span.btn-more__text= text
