.btn-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 164px;
  height: 48px;
  text-decoration: none;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
