mixin main(main)
  .main
    .main__map
      .main__map-logo
        svg
          use(xlink:href=require('../assets/svg/Logo.svg').url)
      .main__geo
        .main__geo-icon
          svg
            use(xlink:href=require('../assets/svg/Group.svg').url)
        .main__geo-city= main.city
    .main__title
      .main__title-full= main.full
      .main__title-parag= main.parag
      .main__title-about= main.about
      .main__title-btn
        +btn('', 'Забронировать', 'btn')
    .main__footer
      .main__footer-copyright= main.copyright
      a.main__footer-tel(href='tel:+74952342244')= main.tel
