.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding-left: 63px;
    padding-top: 33px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    width: 59%;
    padding-left: 23px;
  }

  &__map {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__geo {
    display: flex;
    width: 50%;
  }

  &__geo-icon {
    margin-right: 8px;

    svg {
      width: 15px;
      height: 19px;
    }
  }

  &__map-logo {
    width: 50%;

    svg {
      width: 192px;
      height: 36px;
    }
  }

  &__geo-city {
    font-size: 14px;
    line-height: 16px;
    color: #999;
  }

  &__title {
    width: 100%;
  }

  &__title-full {
    font-size: 30px;
    color: #121212;
    font-weight: bold;
    line-height: 30px;
    margin-left: 12px;

    @media (min-width: 768px) {
      font-size: 70px;
      line-height: 66px;
    }
  }

  &__title-parag {
    font-size: 30px;
    line-height: 30px;
    color: #0ec261;
    font-weight: bold;
    margin-left: 12px;

    @media (min-width: 768px) {
      font-size: 70px;
      line-height: 66px;
    }
  }

  &__title-about {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #999;
    padding-top: 16px;
    margin-left: 12px;

    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 30px;
      padding-top: 34px;
    }
  }

  &__title-btn {
    padding-top: 30px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #151b1f;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: flex-end;

    @media (min-width: 767px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 55px;
      background-color: #fff;
    }
  }

  &__footer-copyright {
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #eee;
    flex-grow: 1;

    @media (min-width: 767px) {
      position: relative;
      color: #999;
    }
  }

  &__footer-tel {
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    color: #0ec261;
    flex-grow: 1;
    padding-top: 12px;

    &:hover {
      color: #0ec261;
    }

    @media (min-width: 767px) {
      color: #121212;
      position: relative;
      padding-top: 0;
    }
  }
}
